<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skirental">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkiRental">
        <activity android:name=".administrator.AfisareProduseActivity"></activity>
        <activity android:name=".administrator.DeleteProductsActivity" />
        <activity android:name=".activities.ModificareDateActivity" />
        <activity android:name=".administrator.FormularAdaugareActivity" />
        <activity android:name=".administrator.AdaugaEchipamentActivity" />
        <activity android:name=".administrator.AdministratorActivity" />
        <activity android:name=".activities.ProdusActivity" />
        <activity android:name=".infoactivities.InfoOchelariActivity" />
        <activity android:name=".activities.OchelariActivity" />
        <activity android:name=".infoactivities.InfoCascaActivity" />
        <activity android:name=".infoactivities.InfoBeteActivity" />
        <activity android:name=".activities.CascaActivity" />
        <activity android:name=".activities.BeteActivity" />
        <activity android:name=".infoactivities.InfoClapariActivity" />
        <activity android:name=".activities.ClapariActivity" />
        <activity android:name=".infoactivities.InfoSkiuriActivity" />
        <activity android:name=".activities.SkiuriActivity" />
        <activity android:name=".activities.FirstActivity" />
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>